<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Site to RSS</title>
    <meta name="description" content="TODO">
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" href="images/favicon.svg" type="images/x-icon">
    <link rel="apple-touch-icon" href="images/favicon.svg" />
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
  </head>
  <body>
    <main>
        <div class="full-content">
            <h1>done!</h1>
            <p>copy-paste this link into your rss reader of choice and it will fetch you the latest content from the site!</p>
            <h3>https://site2rss.protolemon.com/rss/{{id_xml}}.xml</h3>
            <h3>---</h3>
            <p>this xml document is re-generated for every request so you will always have the most up-to-date
                content for every refresh
            </p>
        </div>
    </main>
    <footer>
      <p>&copy 2024 max saparov | 🏳️‍⚧️</p>
      <p>cookies are <span style="font-weight: bold;">never</span> collected or stored by this site.</p>
      <p>~ i was here ~</p>
    </footer>
  </body>
</html>
